body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.display-job .panel {
	margin-bottom: 20px;
	border-radius: 4px;
}

.display-sonar .panel {
	margin-bottom: 20px;
	border-radius: 4px;
}