body {
	background-image: url(http://www.pptbackgrounds.net/uploads/blackboard-backgrounds-wallpapers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.display-job .panel {
	margin-bottom: 20px;
	border-radius: 4px;
}