<div class="panel panel-default">
	<div class="panel-heading">
		<img ng-src="images/sonar.png" />&nbsp;<a
			href="{{sonarUrl}}/dashboard/index/{{project.key}}">{{project.name}}</a>
	</div>
	<div class="panel-body">
		<div>
			<b>Complexity  :</b>&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?metric=complexity">{{project.complexity.number}}</a>&nbsp;<img
				ng-src="images/{{project.complexity | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			Complexity /method&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?metric=function_complexity">{{project.functionComplexity.number}}</a>&nbsp;<img
				ng-src="images/{{project.functionComplexity | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			Complexity /class&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?metric=class_complexity">{{project.classComplexity.number}}</a>&nbsp;<img
				ng-src="images/{{project.classComplexity | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			Complexity /file&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?metric=file_complexity">{{project.fileComplexity.number}}</a>&nbsp;<img
				ng-src="images/{{project.fileComplexity | sonarViolationsChangeStatus}}" />
		</div>
		<br/>
		<div>
			<b>Duplication</b>&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?highlight=duplicated_lines_density&metric=duplicated_lines">{{project.duplicatedLinesDensity.number}}%</a>&nbsp;<img
				ng-src="images/{{project.duplicatedLinesDensity | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			Duplication /line&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?metric=duplicated_lines">{{project.duplicatedLines.number}}</a>&nbsp;<img
				ng-src="images/{{project.duplicatedLines | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			Duplication /block&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?metric=duplicated_blocks">{{project.duplicatedBlocks.number}}</a>&nbsp;<img
				ng-src="images/{{project.duplicatedBlocks | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			Duplication /file&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?metric=duplicated_files">{{project.duplicatedFiles.number}}</a>&nbsp;<img
				ng-src="images/{{project.duplicatedFiles | sonarViolationsChangeStatus}}" />
		</div>
		<br ng-if="project.coverage.number != null"/>
		<div ng-if="project.coverage.number != null">
			<b>Unit Tests Coverage :</b>&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?metric=coverage">{{project.coverage.number}}&nbsp;%</a>&nbsp;<img
				ng-src="images/{{project.coverage | sonarViolationsChangeStatusInverse}}" />
			
		</div>
		<br/>
		<div>
			<b>Rules compliance :</b>&nbsp;<a
				href="{{sonarUrl}}/drilldown/measures/{{project.id}}?highlight=weighted_violations&metric=weighted_violations">{{project.violationsDensity.number}}&nbsp;%</a>
		</div>
		<br/>
		<div>
			<b>Issues :</b>&nbsp;<a
				href="{{sonarUrl}}/drilldown/issues/{{project.key}}">{{project.violations.number}}</a>&nbsp;<img
				ng-src="images/{{project.violations | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			<img ng-src="images/Blocker.png" />&nbsp;Blocker :&nbsp;<a
				href="{{sonarUrl}}/drilldown/issues/{{project.key}}?severity=BLOCKER">{{project.blockerViolations.number}}</a>&nbsp;<img
				ng-src="images/{{project.blockerViolations | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			<img ng-src="images/Critical.png" />&nbsp;Critical :&nbsp;<a
				href="{{sonarUrl}}/drilldown/issues/{{project.key}}?severity=CRITICAL">{{project.criticalViolations.number}}</a>&nbsp;<img
				ng-src="images/{{project.criticalViolations | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			<img ng-src="images/Major.png" />&nbsp;Major :&nbsp;<a
				href="{{sonarUrl}}/drilldown/issues/{{project.key}}?severity=MAJOR">{{project.majorViolations.number}}</a>&nbsp;<img
				ng-src="images/{{project.majorViolations | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			<img ng-src="images/Minor.png" />&nbsp;Minor :&nbsp;<a
				href="{{sonarUrl}}/drilldown/issues/{{project.key}}?severity=MINOR">{{project.minorViolations.number}}</a>&nbsp;<img
				ng-src="images/{{project.minorViolations | sonarViolationsChangeStatus}}" />
		</div>
		<div>
			<img ng-src="images/Info.png" />&nbsp;Info :&nbsp;<a
				href="{{sonarUrl}}/drilldown/issues/{{project.key}}?severity=INFO">{{project.infoViolations.number}}</a>&nbsp;<img
				ng-src="images/{{project.infoViolations | sonarViolationsChangeStatus}}" />
		</div>
	</div>
</div>
